doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title A1
    link(rel='stylesheet', href='./css/a1.css')
  body
    h1 A1

    .controls
      input#first(type='text' placeholder='first name')
      input#last(type='text' placeholder='last name')
      input#movie(type='text' placeholder='move title')
      button#go Make Stars
    #output

    script(src='./js/vendor/traceur.js') //google compiler for es6
    script(src='./js/vendor/experimental.js') //turns on experimental features of js
    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/vendor/lodash-2.4.1.js')
    script(src='./js/vendor/moment-2.6.0.js')
    script(src='./js/es6/a1.js')
