doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title A7
    link(rel='stylesheet', href='./css/a7.css')
  body
    h1 A7

    .controls
      input#number(type='text' placeholder='number of movies')
      //- input#score(type='text' placeholder='minimum score')
      button#go Get Movies
    #chartdiv

    script(src='./js/vendor/traceur.js') //google compiler for es6
    script(src='./js/vendor/experimental.js') //turns on experimental features of js
    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/vendor/lodash-2.4.1.js')
    script(src='./js/vendor/moment-2.6.0.js')
    script(src="http://www.amcharts.com/lib/3/amcharts.js")
    script(src="http://www.amcharts.com/lib/3/serial.js")
    script(src="http://www.amcharts.com/lib/3/themes/chalk.js")
    script(src='./js/es6/a7.js')
